<% provide(:title," | Sign in ") %>
<div class="sign-in">
	<div class="new">
		<h1>Sign in</h1>
		<%= form_for(:session, url:sessions_path) do |f| %> 
			<div class="name-field">
				<%= f.label :email %>
				<%= f.text_field :email, placeholder:"Enter your email" %>
			</div>

			<div class="pass-field">
				<%= f.label :password %>
				<%= f.password_field :password, placeholder:"Enter your password" %>
			</div>

			<%= f.submit "Sign in", class:"btn btn-default btn-sign" %>

			<p>New user? <%= link_to "Sign up now!", signup_path, class: 'link-sign-up'%></p>
			<div class="btn-group left">
			  	<button type="button" class="btn btn-default dropdown-toggle btn-sign" data-toggle="dropdown">
			    	Sign in with ... <span class="caret"></span>
			  	</button>
			  	<ul class="dropdown-menu soc-img" role="menu">
					<%= link_to image_tag("facebook_32.png", alt: "facebook"), "/auth/facebook" %>
					<%= link_to image_tag("google_32.png"  , alt: "google")  , "/auth/google_oauth2" %>
					<%= link_to image_tag("linkedin_32.png", alt: "linkedin"), "/auth/linkedin" %>
					<%= link_to image_tag("twitter_32.png" , alt: "twitter") , "/auth/twitter" %>
			  	</ul>
			</div>
		<% end %>
	</div>
</div>